<router-outlet></router-outlet>
<style>
	.btn-primary, .btn-success {
	  border:none;
	  width:180px;
	}
  </style>
  
  <main role="main" class="container">
<table class="table table-dark">
	<thead>
	  <tr>
		<th scope="col">#</th>
		<th scope="col">Test Name</th>
		<th scope="col">Trainer Testing</th>
		<th scope="col">VP Testing</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
		<th scope="row">1</th>
		
	  <td>Overview</td>
	  <td><button id=overviewTrainerbtn class="btn-primary" (click)='runOverview()'>Run Overview</button></td>
	  <td><button id=overvieVPbtn class="btn-success" (click)='runOverviewVP()'>Run Overview VP</button></td>
	   
	   </tr> <tr>
		  <th scope="row">2</th>
	  
	  <td>Batches</td>
	  <td><button id=batchesTrainerbtn class="btn-primary" (click)='runBatches()'>Run Batches</button></td>
	  <td><button id=batchesVPbtn class="btn-success" (click)='runBatchesVP()'>Run Batches VP</button></td>

	   </tr><tr>
		<th scope="row">3</th>

	  <td>Locations</td>
	  <td><button id=locationsTrainerbtn class="btn-primary" (click)='runLocations()'>Run Locations</button></td>
	  <td><button id=locationsVPbtn class="btn-success" (click)='runLocationsVP()'>Run Locations VP</button></td>

	  </tr><tr>
		<th scope="row">4</th>

	  <td>Curricula</td>
	  <td><button id=curriculaTrainerbtn class="btn-primary" (click)='runCurricula()'>Run Curricula</button></td>
	  <td><button id=curriculaVPbtn class="btn-success" (click)='runCurriculaVP()'>Run Curricula VP</button></td>

	  </tr><tr>
		<th scope="row">5</th>

	  <td>Trainers</td>
	  <td><button id=TrainersTrainerbtn class="btn-primary" (click)='runTrainers()'>Run Trainers</button></td>
	  <td><button id=TrainersVPbtn class="btn-success" (click)='runTrainersVP()'>Run Trainers VP</button></td>

	  </tr><tr>
		<th scope="row">6</th>

	  <td>Profile</td>
	  <td><button id=profileTrainerbtn class="btn-primary" (click)='runProfile()'>Run Profile</button></td>
	  <td>N/A</td>

	  </tr><tr>
		<th scope="row">7</th>
	  <td>Settings</td>
	  <td><button id=settingsTrainerbtn class="btn-primary" (click)='runSettings()'>Run Settings</button></td>
	  <td><button id=settingsVPbtn class="btn-success" (click)='runSettingsVP()'>Run Settings VP</button></td> 
	  </tr>
	</tbody>
  </table>
 </main>