<router-outlet></router-outlet>
<main role="main" class="container">
<!-- Bar code Data -!>
    ================================================== -->
    <h3 align="center">Trainer Tests</h3>
    <div style="width: 100%;">
        <canvas
            baseChart
            [chartType]="'bar'"
            [datasets]="chartData"
            [labels]="chartLabels"
            [options]="chartOptions"
            [legend]="true"
            (chartClick)="onChartClick($event)">
        </canvas>
        <br />
        <app-vpgraph></app-vpgraph>
      </div>
    </main>

      <br>

      
          


